
.caixa-de-busca {
    background-color: red;
    width: 300px;
    height: 70px;
    padding: 10px;
    text-align: center;
    margin: 0px auto;
    border-radius: 20px;
}

.caixa-de-busca > input{
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    outline: none;
}
.caixa-de-busca > button {
    display: block;
    padding: 5px 20px;
    margin: 5px auto;
}

.pokedex {

}
